<!DOCTYPE html>
<html lang="pt-BR">

<body cz-shortcut-listen="true">
    <div id="geral" class="geral">
        <div id="geral-content">
            <section>
                <div class="simulacao printable">
                    <div class="logotipo"><img src="NOSSA LOOG"></div>
                    <h2 class="titulo ">Proposta de Plano de Saúde (Individual)</h2>
                    <p>Primeiramente, agradecemos pelo seu contato.<br>
                        Informamos que os custos e as condições abaixo são determinadas por suas respectivas operadoras.
                    </p>
                    <p>Estamos apresentando proposta(s) da(s) operadora(s), <b>MEDSÊNIOR, PREVENT SÊNIOR, SAMOC
                            SAÚDE</b> para sua apreciação.</p><br>
                    <h4 class="margin">Beneficiários</h4>
                    <table class="static small ta-c">
                        <tbody>
                            <tr class="bgGray">
                                <td>0 a 18 anos</td>
                                <td>19 a 23 anos</td>
                                <td>24 a 28 anos</td>
                                <td>29 a 33 anos</td>
                                <td>34 a 38 anos</td>
                                <td>39 a 43 anos</td>
                                <td>44 a 48 anos</td>
                                <td>49 a 53 anos</td>
                                <td>54 a 58 anos</td>
                                <td>+ de 59 anos</td>
                                <td><b>Total</b></td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>2</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td class="bgGray"><b>2</b></td>
                            </tr>
                        </tbody>
                    </table><br>
                    <div class="operadora">
                        <div class="logotipo w200 ta-c"><img
                                src="https://app.simuladoronline.com/files/cache/relative_180x/files/logotipo/2aa2a283afecf657aec70e75d1d8784b.jpeg">
                            <p class="fz-12">MEDSÊNIOR</p>
                        </div><br>
                        <div class="ta-c">Junho 2025</div><br>
                        <table class="static small ta-c">
                            <tbody>
                                <tr class="bgGray">
                                    <td>Faixa Etária</td>
                                    <td>MEDSÊNIOR RJ1 (<span>E</span>)</td>
                                </tr>
                                <tr>
                                    <td>29 a 33 anos</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                </tr>
                                <tr class="bgGray">
                                    <td colspan="2">Em 2010, nasceu a MedSênior
                                        Com a missão de promover o envelhecimento saudável e ser o melhor plano de saúde
                                        para o público 49+. Atualmente estamos em 7 estados e no Distrito Federal e
                                        contamos
                                        com 45 unidades próprias.</td>
                                </tr>
                            </tbody>
                        </table><br>






                        <div class="bloco">
                            <h4 class="margin">Rede Credenciada</h4>
                            <table class="static small ta-c">
                                <tbody>
                                    <tr class="bgGray">
                                        <td class="ta-c" colspan="3"><span class="fz-11">MEDSÊNIOR RJ1</span></td>
                                    </tr>
                                    <tr class="bgGray">
                                        <td class="ta-l" colspan="3"><strong>Hospitais</strong> (23)</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Niterói - Zona Central</strong><br>HOSPITAL ICARAÍ
                                                (NITERÓI) - H/ PS<br><strong>Rio de Janeiro - Zona
                                                    Central</strong><br>CASA DE SAÚDE SAINT ROMAN - PS
                                                Psiquiátrico<br>HOSPITAL CASA DE PORTUGAL - H/ PS<br><strong>Niterói -
                                                    Zona Sul</strong><br>CASA DE SAÚDE E MATER. SANTA MARTHA - H/
                                                PS<br>MEDSÊNIOR - NITERÓI - AMB<br><strong>Rio de Janeiro - Zona
                                                    Sul</strong><br>HOSPITAL QUALI IPANEMA - H/ PS<br>MEDSÊNIOR - PRONTO
                                                ATENDIMENTO BOTAFOGO - AMB/ PA<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">SÃO CARLOS SAÚDE ONCOLÓGICA - H/ PS<br><strong>Rio de
                                                    Janeiro - Zona Norte</strong><br>HOSPITAL IRAJÁ - H/ PS<br>HOSPITAL
                                                MARCOS MORAES - H<br>HOSPITAL PAN-AMERICANO - H/ PS<br>HOSPITAL PASTEUR
                                                - H<br>HOSPITAL PROCOR - UE<br>HOSPITAL SÃO FRANCISCO NA PROVIDÊNCIA DE
                                                DEUS - H/ PS<br>MEDSÊNIOR - TIJUCA - AMB<br><strong>Rio de Janeiro -
                                                    Zona Oeste</strong><br>EYECENTER - BARRA DA TIJUCA - PS
                                                Oftalmológico<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">HOSPITAL DE CLINICAS JACAREPAGUÁ - H<br>HOSPITAL NOSSA
                                                SENHORA DO CARMO (CAMPO GRANDE) - H<br>MEDSÊNIOR - BARRA DA TIJUCA -
                                                AMB/
                                                PA<br><strong>Niterói - Outras Regiões</strong><br>CENTRO HOSPITALAR SÃO
                                                LUCAS - H/ PS<br><strong>São Gonçalo - Outras
                                                    Regiões</strong><br>HOSPITAL E CLÍNICA SÃO GONÇALO. - H/
                                                PS<br><strong>Duque de Caxias - Outras Regiões</strong><br>HOSPITAL
                                                DANIEL LIPP - H/ PS<br>HSCOR - H/ PS<br></div>
                                        </td>
                                    </tr>
                                    <tr class="bgGray">
                                        <td class="ta-l" colspan="3"><strong>Laboratórios</strong> (5)</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Rio de Janeiro - Várias
                                                    Regiões</strong><br>LABORMED
                                                - LABORATÓRIOS MÉDICOS - VÁRIAS REGIÕES<br>LABS A+ MEDICINA DIAGNÓSTICA
                                                -
                                                VÁRIAS REGIÕES<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Rio de Janeiro - Outras
                                                    Regiões</strong><br>BRONSTEIN.<br>RIO LABOR.<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>São Gonçalo - Outras Regiões</strong><br>CENTRO DE
                                                MEDICINA NUCLEAR GUANABARA<br></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><br>
                            <table class="static small">
                                <tbody>
                                    <tr class="bgGray">
                                        <td class="ta-l">Legendas</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l">H - Internação Eletiva, PS - Pronto Socorro, UE - Urgência e
                                            Emergência, AMB - Ambulatório, PA - Pronto Atendimento, *NE - Atendimento
                                            não
                                            Especificado pela Operadora</td>
                                    </tr>
                                </tbody>
                            </table><br>
                        </div>
                    </div><br>
                    <div class="operadora">
                        <div class="logotipo w200 ta-c"><img
                                src="https://app.simuladoronline.com/files/cache/relative_180x/files/logotipo/c11efe9195b7c9ca8420348c41a00a30.jpeg">
                            <p class="fz-12">PREVENT SÊNIOR</p>
                        </div><br>
                        <div class="ta-c">Setembro 2025 - Taxa de Inscrição (Por Contrato) - Isenta</div><br>
                        <table class="static small ta-c">
                            <tbody>
                                <tr class="bgGray">
                                    <td>Faixa Etária</td>
                                    <td>PREVENT MA+S (<span>A</span>)</td>
                                </tr>
                                <tr>
                                    <td>29 a 33 anos</td>
                                    <td>R$ 1.055,50</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>R$ 2.111,00</td>
                                </tr>
                                <tr class="bgGray">
                                    <td colspan="2">A Prevent Senior é a operadora de saúde especialista em pessoas. E
                                        isso
                                        porque temos paixão pelo cuidar e sabemos que saúde é fundamental para realizar
                                        sonhos e desfrutar o melhor da vida.</td>
                                </tr>
                            </tbody>
                        </table><br>








                        <div class="bloco">
                            <h4 class="margin">Rede Credenciada</h4>
                            <table class="static small ta-c">
                                <tbody>
                                    <tr class="bgGray">
                                        <td class="ta-c" colspan="3"><span class="fz-11">PREVENT MA+S</span></td>
                                    </tr>
                                    <tr class="bgGray">
                                        <td class="ta-l" colspan="3"><strong>Hospitais</strong> (26)</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Niterói - Zona Central</strong><br>HOSPITAL ICARAÍ
                                                (NITERÓI) - H/ PS - Hospital Exclusivo da Acomodação Apartamento, não
                                                disponível para Enfermaria.<br><strong>Niterói - Zona
                                                    Sul</strong><br>CASA DE SAÚDE E MATER. SANTA MARTHA - H/
                                                PS<br><strong>Rio de Janeiro - Zona Sul</strong><br>CLINICA DA GÁVEA -
                                                Internação Psiquiátrica<br>HOSPITAL PRÓ-CARDÍACO (BOTAFOGO). - H -
                                                Hospital Exclusivo na Acomodação Apartamento, não disponível para
                                                Enfermaria<br>HOSPITAL SANTA LÚCIA - H - Hospital Exclusivo da
                                                Acomodação
                                                Apartamento, não disponível para Enfermaria.<br>HOSPITAL SÃO LUCAS
                                                (COPACABANA) - H - Hospital Exclusivo da Acomodação Apartamento, não
                                                disponível para Enfermaria.<br>POLICLÍNICA DE BOTAFOGO. - PA - Também
                                                Incluso: Pronto Socorro Oftalmo<br>PRONTO ATENDIMENTO UNIMED FERJ -
                                                COPACABANA - PA<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">SÃO CARLOS SAÚDE ONCOLÓGICA - H<br><strong>Rio de Janeiro
                                                    -
                                                    Zona Norte</strong><br>HOSPITAL BADIM - H/ PS<br>HOSPITAL NOTRECARE
                                                RIO - H<br>HOSPITAL PAN-AMERICANO - H/ PS<br>HOSPITAL PASTEUR - H/
                                                PS<br>HOSPITAL SÃO FRANCISCO NA PROVIDÊNCIA DE DEUS - H/ PS<br>SEPTO -
                                                Pronto Socorro Otorrino<br><strong>Rio de Janeiro - Zona
                                                    Oeste</strong><br>DAY HOSPITAL SANCTA MAGGIORE SÃO FRANCISCO -
                                                H<br>EYECENTER - BARRA DA TIJUCA - Pronto Socorro Oftalmo<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">HOBRASIL - Pronto Socorro Oftalmo<br>HOSPITAL CASA SÃO
                                                BERNARDO - H/ PS<br>HOSPITAL DE CLÍNICAS DE JACAREPAGUÁ. - H/
                                                PS<br>HOSPITAL INTERMÉDICA JACAREPAGUÁ - H/ PS<br>HOSPITAL UNIMED FERJ -
                                                H<br>PRONTO ATENDIMENTO UNIMED FERJ - BARRA DA TIJUCA - PA<br>SEPTO -
                                                BARRA DA TIJUCA - Pronto Socorro Otorrino<br><strong>Niterói - Outras
                                                    Regiões</strong><br>ALERGO AR - NITERÓI - *NE<br>HOSPITAL DE
                                                CLÍNICAS ALAMEDA - H/ PS<br></div>
                                        </td>
                                    </tr>
                                    <tr class="bgGray">
                                        <td class="ta-l" colspan="3"><strong>Clinícas</strong> (8)</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Niterói - Zona Central</strong><br>DAVITA NEPHRON
                                                CARE<br><strong>Rio de Janeiro - Zona Sul</strong><br>CENTRO MÉDICO
                                                PREVENT SENIOR HAVAÍ<br>NÚCLEO DE MEDICINA AVANÇADA PREVENT SENIOR - RIO
                                                SUL<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Rio de Janeiro - Zona Norte</strong><br>NÚCLEO DE
                                                MEDICINA AVANÇADA E DIAGNÓSTICA - MALIBU<br><strong>Rio de Janeiro -
                                                    Zona
                                                    Oeste</strong><br>NÚCLEO DE MEDICINA AVANÇADA E DIAGNÓSTICA
                                                TAITI<br><strong>Niterói - Outras Regiões</strong><br>ONCOMED.<br>
                                            </div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Rio de Janeiro - Outras
                                                    Regiões</strong><br>CLINICA
                                                DO SONO.<br>DAVITA.<br></div>
                                        </td>
                                    </tr>
                                    <tr class="bgGray">
                                        <td class="ta-l" colspan="3"><strong>Laboratórios</strong> (27)</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Niterói - Outras Regiões</strong><br>BRONSTEIN
                                                MEDICINA DIAGNÓSTICA - NITERÓI<br>CENTRO DE IMAGEM ICARAÍ<br>CENTRO MED.
                                                NUC. VILLELA PEDRAS<br>CPDI<br>ELIEL FIGUEIREDO LABORATÓRIO E IMAGEM -
                                                NITERÓI<br>IRSA INSTITUTO DE RADIOLOGIA<br>LABI EXAMES<br>LABORATÓRIO
                                                MORALES - NITERÓI<br>LABORATÓRIO VYP<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">LABORMED - LABORATÓRIOS MÉDICOS - NITERÓI<br>LAMINA -
                                                MEDICINA DIAGNÓSTICA - NITERÓI<br>PROECHO<br>SÉRGIO FRANCO - MEDICINA
                                                DIAGNÓSTICA - NITERÓI<br><strong>Rio de Janeiro - Outras
                                                    Regiões</strong><br>BRONSTEIN.<br>CARDIOMEX SERVIÇOS
                                                MÉDICOS.<br>CDPI.<br>CENTRO DE MEDICINA NUCLEAR DA GUANABARA.<br>CEPEM
                                                - CENTRO DE PESQUISA DA MULHER<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">DIMAGEM DIAGNÓSTICOS<br>ELIEL FIGUEIREDO LABORATÓRIO E
                                                IMAGEM.<br>GASTROENDO<br>LABI EXAMES<br>LABORMED LABORATÓRIOS
                                                MÉDICOS.<br>LAB SERGIO FRANCO.<br>LAMINA - MEDICINA DIAGNÓSTICA - OUTRAS
                                                REGIÕES<br>PROECHO<br>RIOLABOR - MEDICINA DIAGNÓSTICA.<br></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><br>
                            <table class="static small">
                                <tbody>
                                    <tr class="bgGray">
                                        <td class="ta-l">Legendas</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l">H - Internação Eletiva, PS - Pronto Socorro, PA - Pronto
                                            Atendimento, *NE - Atendimento não Especificado pela Operadora</td>
                                    </tr>
                                </tbody>
                            </table><br>
                        </div>
                    </div><br>
                    <div class="operadora">
                        <div class="logotipo w200 ta-c"><img
                                src="https://app.simuladoronline.com/files/cache/relative_180x/files/logotipo/852a34e115f53e764f6c1e02922757d5.jpeg">
                            <p class="fz-12">SAMOC SAÚDE</p>
                        </div><br>
                        <div class="ta-c">Janeiro 2025</div><br>
                        <table class="static small ta-c">
                            <tbody>
                                <tr class="bgGray">
                                    <td>Faixa Etária</td>
                                    <td>SAMOC 400 (<span>E</span>)</td>
                                </tr>
                                <tr>
                                    <td>29 a 33 anos</td>
                                    <td>R$ 281,68</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>R$ 563,36</td>
                                </tr>
                                <tr class="bgGray">
                                    <td colspan="2">A Samoc e um plano completo com consultas+exames+internação, com uma
                                        rede própria de 5 Centros Médicos (Lapa, Tijuca, Niterói, Jacarepaguá e Nova
                                        Iguaçu)
                                        e 1 Hospital Geral em Santa Teresa e uma Rede Credenciada distribuída por todas
                                        as
                                        regiões do Rio de Janeiro.</td>
                                </tr>
                            </tbody>
                        </table><br>





                        <div class="bloco">
                            <h4 class="margin">Rede Credenciada</h4>
                            <table class="static small ta-c">
                                <tbody>
                                    <tr class="bgGray">
                                        <td class="ta-c" colspan="3"><span class="fz-11">Rede Exclusiva do Plano "SAMOC
                                                400"</span></td>
                                    </tr>
                                    <tr class="bgGray">
                                        <td class="ta-l" colspan="3"><strong>Hospitais</strong> (44)</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7"><strong>Rio de Janeiro - Zona Central</strong><br>CENTRO
                                                MÉDICO SAMOC - LAPA - AMB<br><strong>Rio de Janeiro - Zona
                                                    Sul</strong><br>CARDIOKIS CLINICA CARDIOLOGICA INFANTIL -
                                                AMB<br>CASA DE SAÚDE SÃO JOÃO DE DEUS - PA<br>CLINICA COPACABANA -
                                                AMB<br>HOSPITAL ÊNIO SERRA. - PA<br>HOSPITAL QUALI IPANEMA -
                                                PA<br>OSSO TRAUMA - PA<br>POLICLÍNICA DE BOTAFOGO. - PA<br><strong>Rio
                                                    de Janeiro - Zona Norte</strong><br>ÁPICE HOSPITAL. - AMB<br>CENTRO
                                                MEDICO CARDIO GERIATRICO - AMB<br>CENTRO MEDICO SAMOC - MADUREIRA -
                                                AMB<br>CENTRO MEDICO SAMOC - MARACANÃ - AMB<br>CLINICA SÃO JOÃO -
                                                AMB<br>CLÍNICAS REUNIDAS SÃO VICTOR - PA<br>HOSPITAL SEMIU -
                                                PA<br>IPBA - INSTITUTO PORTUGUÊS BRASILEIRO DE ASSISTÊNCIA - AMB<br>
                                            </div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">MEGAMED SAÚDE - AMB<br><strong>Rio de Janeiro - Zona
                                                    Oeste</strong><br>AMEP ASSISTÊNCIA MÉDICA ESPECIALIZADA - PA<br>AMIU
                                                - PA<br>CAV - CENTRO AMBULATORIAL VALQUEIRE - AMB<br>CENTRO HOSPITALAR
                                                AMEP JACAREPAGUÁ - PA<br>CENTRO MÉDICO GUANABARA. - AMB<br>CENTRO MÉDICO
                                                SAMOC - TANQUE - AMB<br>CLÍNICA MED+SAÚDE - AMB<br>HOSPITAL SÃO MATHEUS
                                                - PA<br>ITANHANGÁ CENTRO MÉDICO - AMB<br><strong>Niterói - Outras
                                                    Regiões</strong><br>CENTRO MÉDICO FONSECA - AMB<br>CENTRO MEDICO
                                                SAMOC - NITERÓI - AMB<br><strong>São Gonçalo - Outras
                                                    Regiões</strong><br>CEMI DIAGNÓSTICO. - AMB<br>PRO-SAÚDE SERVIÇOS
                                                INTEGRADO EM MEDICINA - AMB<br>SAMCORDIS - HOSP. DO CORAÇÃO. -
                                                PA<br><strong>Duque de Caxias - Outras Regiões</strong><br>CENTRO MÉDICO
                                                CAXIAS - AMB<br></div>
                                        </td>
                                        <td class="ta-l va-t" colspan="1"
                                            style="width: 33.333333333333%; max-width: 280px; word-wrap: break-word; white-space: pre-line;">
                                            <div class="fz-7">CLINICA BEBE HELP CLIN MED ODON - AMB<br>HOSP. DE CLÍNICAS
                                                SÃO VICENTE - AMB<br>HOSPITAL SANTA BRANCA - PA<br><strong>São João de
                                                    Meriti - Outras Regiões</strong><br>ÁPICE HOSPITAL -
                                                AMB<br><strong>Nova Iguaçu - Outras Regiões</strong><br>CENTRO MEDICO DE
                                                SÃO PAULO - AMB<br>CENTRO MÉDICO SAMOC - NOVA IGUAÇU - AMB<br>CENTRO
                                                PEDIÁTRICO DE NOVA IGUAÇU - AMB<br>CLÍNICA PEDRO HENRIQUE -
                                                AMB<br>HOSPITAL GERAL PRONTONIL. - PA<br>RENALCOR SERVIÇOS MÉDICOS -
                                                AMB<br><strong>Mesquita - Outras Regiões</strong><br>CLIMOL. -
                                                AMB<br><strong>Nilópolis - Outras Regiões</strong><br>CENTRO MEDICO
                                                OLINDA - AMB<br></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><br>
                            <table class="static small">
                                <tbody>
                                    <tr class="bgGray">
                                        <td class="ta-l">Legendas</td>
                                    </tr>
                                    <tr>
                                        <td class="ta-l">PA - Pronto Atendimento, AMB - Ambulatório</td>
                                    </tr>
                                </tbody>
                            </table><br>
                        </div>
                    </div>
                    <hr>
                    <p>1. Os valores acima são individuais para cada faixa etária, os totais incluem a soma de vidas por
                        cada padrão.<br>
                        2. As carências apresentadas são as contratuais.<br>
                        3. No caso de possuir plano anterior, as operadoras estudam a redução das suas carências.</p>
                    <br>
                    <div class="assinatura">
                        Atenciosamente, <br>
                        Renan Lima <br>

                        Renan Lima Dutra Barbosa <br>


                        renanldb93@gmail.com <br>

                        (21) 98012-7961 (WhatsApp) <br>

                        Estrada Velha de Maricá, 25 - Casa 2 <br>
                        Rio do Ouro - Niterói / RJ -
                        24330-000
                    </div>
                    <hr>
                    <p class="footer"><b>IMPORTANTE!</b> As informações de preços, carências, redes, reembolsos, etc,
                        contidas nesta tabela, podem sofrer alterações a qualquer momento. <br>
                        Esta ferramenta não tem o objetivo de substituir o material original de vendas e sim como apoio
                        à vendas agilizando o trabalho do corretor. <br></p><br>
                </div>
            </section>
        </div>
        <footer>
            <span title="v7.1.6">[ANO_ATUAL] © <a href="http://simuladoronline.com" target="_blank"><span>Saúde
                        Select</span></a></span>
        </footer>
    </div>
</body>

</html>
